<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Chinese Farmer</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" />
	<link rel="stylesheet" href="style/style.css" />
</head>

<body>
	<div id="app">
		<div class="header level">
			<div class="level-left">
				<div class="level-item">
					<p>{{ formattedDate }}</p>
				</div>
				<div class="level-item"><button class="button is-small" @click="toggleTimer">{{ timer ? '暂停' : '开始'
						}}</button>
				</div>
			</div>
			<div class="level-item">
				<div class="tabs">
					<ul>
						<li :class="{ 'is-active': activeTab === 'Family' }">
							<a href="javascript:void(0);" @click="showTab('Family')">家庭</a>
						</li>
						<li :class="{ 'is-active': activeTab === 'Map' }">
							<a href="javascript:void(0);" @click="showTab('Map')">地图</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="level-right">


			</div>
		</div>

		<div class="main">
			<aside class="sidebar">
				<!-- 角色栏，显示当前选中的角色详细信息 -->
				<div v-if="selectedCharacter" class="selected-character box">
					<p class="title is-5">{{ selectedCharacter.familyName }} {{ selectedCharacter.givenName }}</p>
					<p>出生日期: {{ selectedCharacter.birthDate }}</p>
					<p>年龄: {{ selectedCharacter.age }}</p>
					<p>性别: {{ selectedCharacter.gender }}</p>
					<hr>
					<p @mouseover="showDetails('social')" @mouseleave="hideDetails">
						社交: {{ selectedCharacter.abilities.social.total }}
					</p>
					<p @mouseover="showDetails('physical')" @mouseleave="hideDetails">
						体力: {{ selectedCharacter.abilities.physical.total }}
					</p>
					<p @mouseover="showDetails('judgment')" @mouseleave="hideDetails">
						判断: {{ selectedCharacter.abilities.judgment.total }}
					</p>
					<p @mouseover="showDetails('learning')" @mouseleave="hideDetails">
						学习: {{ selectedCharacter.abilities.learning.total }}
					</p>
					<p class="tags">特质: <span class="tag is-hoverable" v-for="trait in selectedCharacter.traits"
							:key="trait.name">{{ trait.name }}</span></p>
					<hr>
					<p>家庭土地数量: {{ selectedCharacter.family.landCount }}</p>
					<p>家庭平均肥沃度: {{ selectedCharacter.family.averageFertility.toFixed(2) }}</p>
					<p>家庭粮食产出: {{ selectedCharacter.family.foodOutput.toFixed(2) }}</p>
					<p>家庭粮食库存: {{ selectedCharacter.family.foodStock.toFixed(2) }}</p>
					<hr>

					<p class="tags">父母: <span class="tag is-hoverable" v-for="parent in selectedCharacter.parents"
							:key="parent.id">
							<a href="#" @click="selectCharacter(parent)">{{ parent.familyName }} {{ parent.givenName
								}}</a>
						</span></p>
					<p class="tags">配偶: <span class="tag is-hoverable" v-for="spouse in selectedCharacter.spouses"
							:key="spouse.id">
							<a href="#" @click="selectCharacter(spouse)">{{ spouse.familyName }} {{ spouse.givenName
								}}</a>
						</span></p>
					<p class="tags">子女: <span class="tag is-hoverable" v-for="child in selectedCharacter.children"
							:key="child.id">
							<a href="#" @click="selectCharacter(child)">{{ child.familyName }} {{ child.givenName }}</a>
						</span></p>
				</div>
				<!-- 悬浮窗 -->
				<div v-if="hoveredAbility" :style="hoverStyle" class="hover-details">
					<p>基础值 {{ selectedCharacter.abilities[hoveredAbility].base }}</p>
					<p v-for="(value, key) in selectedCharacter.abilities[hoveredAbility].effects" :key="key">{{ key }}:
						{{
						value }}
					</p>
				</div>

			</aside>

			<div class="basic">

				<div class="activate-content box">
					<!-- 家庭列表，每个家庭成员只显示名称 -->
					<div v-if="activeTab === 'Family'" id="Family">
						<div v-for="family in families" :key="family.id" class="family box">
							<p class="title is-6">Family {{ family.name }}</p>
							<div class="tags">
								<div class="tag is-hoverable" v-for="character in family.members" :key="character.id"
									@click="selectCharacter(character)">
									{{ character.familyName }} {{ character.givenName }}
								</div>
							</div>
						</div>
					</div>


					<!-- 地图显示 -->
					<div v-if="activeTab === 'Map'" id="Map" class="map">
						<div v-for="(row, rowIndex) in map" :key="rowIndex" class="row">
							<div v-for="(tile, colIndex) in row" :key="colIndex" :class="['tile', tile.type]"
								@mouseover="showTileDetails(tile)" @mouseleave="hideTileDetails">
								{{ tile.fertility.toFixed(0) }}
							</div>
						</div>
					</div>
					<!-- 地块悬浮窗 -->
					<div v-if="hoveredTile" :style="hoverStyle" class="hover-details">
						<p>归属家庭: {{ hoveredTile.familyName }}</p>
						<p>肥沃度: {{ hoveredTile.fertility.toFixed(0) }}</p>
					</div>
				</div>


			</div>

			</main>

		</div>







		<script src="script/app.js"></script>
		<script src="script/UI.js"></script>
		<script src="https://kit.fontawesome.com/956b802913.js" crossorigin="anonymous"></script>
</body>

</html>